PORT=5000
MONGO_URI=mongodb://localhost:27017/kampus-sorun
JWT_SECRET=buraya-guclu-bir-anahtar-yaz
EMAIL_USER=brevo-de-dogruladigin-gonderen@gmail.com
BREVO_API_KEY=brevo-api-anahtarin
CLOUDINARY_CLOUD_NAME=cloudinary-cloud-adin
CLOUDINARY_API_KEY=cloudinary-api-key
CLOUDINARY_API_SECRET=cloudinary-api-secret
